config_1.0.grammar.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" ns="http://hub.peachworks.com/v1/configuration" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="configuration"/>
  </start>
  <define name="configuration">
    <element xmlns="http://relaxng.org/ns/structure/1.0" name="configuration">
      <element name="version">
        <choice>
          <value>1.0</value>
        </choice>
      </element>
      <a:documentation>blah</a:documentation>
      <interleave>
        <zeroOrMore>
          <ref name="employee"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="job"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="payment_type"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="revenue_center"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="order_type"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="discount"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="void"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="customer_account"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="paid_inout"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="category"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="item"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="employee">
    <element name="employee">
      <a:documentation>Each employee has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <element name="employee_number">
          <a:documentation>Employee number from POS system</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <element name="first_name">
          <a:documentation>First name of the employee</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <optional>
          <element name="last_name">
            <a:documentation>Last name of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="email">
            <a:documentation>Email of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="mobile_phone">
            <a:documentation>Mobal phone number of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="home_phone">
            <a:documentation>Home phone number of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="hire_date">
            <a:documentation>Hire date of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="birth_date">
            <a:documentation>Birth date of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="inactive_date">
            <a:documentation>inactive_date of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="terminated_date">
            <a:documentation>terminated_date of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="address">
            <a:documentation>Address of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="address2">
            <a:documentation>Address2 of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="city">
            <a:documentation>City of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="postal_code">
            <a:documentation>Zipcode of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="state_province">
            <a:documentation>State/province of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="country">
            <a:documentation>Country of the employee</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="job">
            <interleave>
              <ref name="element_id"/>
              <optional>
                <ref name="job_wage"/>
              </optional>
              <optional>
                <element name="is_primary">
                  <a:documentation>Whether this job is the primary position</a:documentation>
                  <data type="boolean"/>
                </element>
              </optional>
            </interleave>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="job">
    <element name="job">
      <a:documentation>Each job has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
        <optional>
          <element name="is_salaried">
            <a:documentation>Whether this job is a salaried position. Affects WTM schedule forecasting and reporting</a:documentation>
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <ref name="job_wage"/>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="job_wage">
    <element name="wage">
      <a:documentation>Wage any employee may earn for this job, overridden in the employee if the employees themselves have wages for the job</a:documentation>
      <ref name="non_negative_decimal"/>
    </element>
  </define>

  <define name="payment_type">
    <element name="payment_type">
      <a:documentation>Each payment type has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
        <element name="payment_group">
          <a:documentation>General category of this payment type</a:documentation>
          <choice>
            <value>CASH</value>
            <value>CREDIT_CARD</value>
            <value>GIFT_CARD</value>
            <value>ACCOUNT</value>
            <value>VOUCHER</value>
            <value>MISC</value>
            <value>MOBILE</value>
            <value>DEBIT</value>
          </choice>
        </element>
      </interleave>
    </element>
  </define>

  <define name="revenue_center">
    <element name="revenue_center">
      <a:documentation>Each revenue center has a POS assigned, unique ID </a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="order_type">
    <element name="order_type">
      <a:documentation>Each order type has a POS assigned, unique ID </a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="discount">
    <element name="discount">
      <a:documentation>Each discount reason has a POS assigned, unique ID </a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="void">
    <element name="void">
      <a:documentation>Each void reason has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="customer_account">
    <element name="customer_account">
      <a:documentation>Each customer account has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="paid_inout">
    <element name="paid_inout">
      <a:documentation>Reasons for Paid Ins/Outs</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
      </interleave>
    </element>
  </define>

  <define name="category">
    <element name="category">
      <a:documentation>Each menu category has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
        <optional>
          <element name="parent_id">
            <a:documentation>if there is a hierarchy, this should be the id of the category directly above this one</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="is_active">
            <a:documentation>Whether this category is active or not</a:documentation>
            <data type="boolean"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="item">
    <element name="item">
      <a:documentation>Each menu item has a POS assigned, unique ID</a:documentation>
      <interleave>
        <ref name="element_id"/>
        <ref name="element_name"/>
        <optional>
          <element name="category_id">
            <a:documentation>ID of the Category containing this menu item</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="price">
            <a:documentation>Nominal price of menu item</a:documentation>
            <data type="decimal">
            <param name="fractionDigits">2</param>
            </data>
          </element>
        </optional>
        <optional>
          <element name="sku">
            <a:documentation>Unique SKU to identify menu item, if this is kept consistent across stores
			it could be used to identify matching items, even when the POS IDs differ</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="is_active">
            <a:documentation>Whether this item is active or not</a:documentation>
            <data type="boolean"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="element_id">
    <element name="id">
      <a:documentation>POS assigned, unique ID</a:documentation>
      <ref name="non_empty_string"/>
    </element>
  </define>

  <define name="element_name">
    <element name="name">
      <a:documentation>Text description of item</a:documentation>
      <ref name="non_empty_string"/>
    </element>
  </define>

  <define name="non_negative_decimal">
    <data type="decimal">
      <param name="fractionDigits">2</param>
      <param name="minInclusive">0</param>
    </data>
  </define>

  <define name="non_empty_string">
    <data type="string">
      <param name="pattern">(.|\n|\r)*\S(.|\n|\r)*</param>
      <param name="minLength">1</param>
    </data>
  </define>
</grammar>
