config_1.0.grammar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hub.peachworks.com/v1/configuration" xmlns:c="http://hub.peachworks.com/v1/configuration">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="c:version"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="c:employee"/>
          <xs:element ref="c:job"/>
          <xs:element ref="c:payment_type"/>
          <xs:element ref="c:revenue_center"/>
          <xs:element ref="c:order_type"/>
          <xs:element ref="c:discount"/>
          <xs:element ref="c:void"/>
          <xs:element ref="c:customer_account"/>
          <xs:element ref="c:paid_inout"/>
          <xs:element ref="c:category"/>
          <xs:element ref="c:item"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="1.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="employee">
    <xs:annotation>
      <xs:documentation>Each employee has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:employee_number"/>
        <xs:element ref="c:first_name"/>
        <xs:element ref="c:last_name"/>
        <xs:element ref="c:email"/>
        <xs:element ref="c:mobile_phone"/>
        <xs:element ref="c:home_phone"/>
        <xs:element ref="c:hire_date"/>
        <xs:element ref="c:birth_date"/>
        <xs:element ref="c:inactive_date"/>
        <xs:element ref="c:terminated_date"/>
        <xs:element ref="c:address"/>
        <xs:element ref="c:address2"/>
        <xs:element ref="c:city"/>
        <xs:element ref="c:postal_code"/>
        <xs:element ref="c:state_province"/>
        <xs:element ref="c:country"/>
        <xs:element name="job">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="c:id"/>
              <xs:element ref="c:wage"/>
              <xs:element ref="c:is_primary"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="employee_number" type="c:non_empty_string">
    <xs:annotation>
      <xs:documentation>Employee number from POS system</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="first_name" type="c:non_empty_string">
    <xs:annotation>
      <xs:documentation>First name of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="last_name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Last name of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="email" type="xs:string">
    <xs:annotation>
      <xs:documentation>Email of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="mobile_phone" type="xs:string">
    <xs:annotation>
      <xs:documentation>Mobal phone number of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="home_phone" type="xs:string">
    <xs:annotation>
      <xs:documentation>Home phone number of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hire_date" type="xs:string">
    <xs:annotation>
      <xs:documentation>Hire date of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="birth_date" type="xs:string">
    <xs:annotation>
      <xs:documentation>Birth date of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="inactive_date" type="xs:string">
    <xs:annotation>
      <xs:documentation>inactive_date of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="terminated_date" type="xs:string">
    <xs:annotation>
      <xs:documentation>terminated_date of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="address" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="address2" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address2 of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="city" type="xs:string">
    <xs:annotation>
      <xs:documentation>City of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="postal_code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Zipcode of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="state_province" type="xs:string">
    <xs:annotation>
      <xs:documentation>State/province of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="country" type="xs:string">
    <xs:annotation>
      <xs:documentation>Country of the employee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="is_primary" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Whether this job is the primary position</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="job">
    <xs:annotation>
      <xs:documentation>Each job has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
        <xs:element ref="c:is_salaried"/>
        <xs:element ref="c:wage"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="is_salaried" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Whether this job is a salaried position. Affects WTM schedule forecasting and reporting</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="wage" type="c:non_negative_decimal">
    <xs:annotation>
      <xs:documentation>Wage any employee may earn for this job, overridden in the employee if the employees themselves have wages for the job</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="payment_type">
    <xs:annotation>
      <xs:documentation>Each payment type has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
        <xs:element ref="c:payment_group"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="payment_group">
    <xs:annotation>
      <xs:documentation>General category of this payment type</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="CASH"/>
        <xs:enumeration value="CREDIT_CARD"/>
        <xs:enumeration value="GIFT_CARD"/>
        <xs:enumeration value="ACCOUNT"/>
        <xs:enumeration value="VOUCHER"/>
        <xs:enumeration value="MISC"/>
        <xs:enumeration value="MOBILE"/>
        <xs:enumeration value="DEBIT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="revenue_center">
    <xs:annotation>
      <xs:documentation>Each revenue center has a POS assigned, unique ID </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="order_type">
    <xs:annotation>
      <xs:documentation>Each order type has a POS assigned, unique ID </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="discount">
    <xs:annotation>
      <xs:documentation>Each discount reason has a POS assigned, unique ID </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="void">
    <xs:annotation>
      <xs:documentation>Each void reason has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer_account">
    <xs:annotation>
      <xs:documentation>Each customer account has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="paid_inout">
    <xs:annotation>
      <xs:documentation>Reasons for Paid Ins/Outs</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:annotation>
      <xs:documentation>Each menu category has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
        <xs:element ref="c:parent_id"/>
        <xs:element name="is_active" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether this category is active or not</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="parent_id" type="xs:string">
    <xs:annotation>
      <xs:documentation>if there is a hierarchy, this should be the id of the category directly above this one</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>Each menu item has a POS assigned, unique ID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="c:id"/>
        <xs:element ref="c:name"/>
        <xs:element ref="c:category_id"/>
        <xs:element ref="c:price"/>
        <xs:element ref="c:sku"/>
        <xs:element name="is_active" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether this item is active or not</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="category_id" type="xs:string">
    <xs:annotation>
      <xs:documentation>ID of the Category containing this menu item</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="price">
    <xs:annotation>
      <xs:documentation>Nominal price of menu item</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sku" type="xs:string">
    <xs:annotation>
      <xs:documentation>Unique SKU to identify menu item, if this is kept consistent across stores
			it could be used to identify matching items, even when the POS IDs differ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="c:non_empty_string">
    <xs:annotation>
      <xs:documentation>POS assigned, unique ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="c:non_empty_string">
    <xs:annotation>
      <xs:documentation>Text description of item</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="non_negative_decimal">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="non_empty_string">
    <xs:restriction base="xs:string">
      <xs:pattern value="(.|\n|\r)*\S(.|\n|\r)*"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
