transactions_1.0.grammar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hub.peachworks.com/v1/transactions" xmlns:t="http://hub.peachworks.com/v1/transactions">
  <xs:element name="transactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="t:version"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="t:check"/>
          <xs:element ref="t:shift"/>
          <xs:element ref="t:deposit"/>
          <xs:element ref="t:paid_inout_payment"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="version">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="1.0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="check">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="t:check_number"/>
        <xs:element ref="t:order_number"/>
        <xs:element ref="t:check_id"/>
        <xs:element name="last_modified_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>time and date the check was last updated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="business_date" type="t:date_minInclusive">
          <xs:annotation>
            <xs:documentation>Business date for the check</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:business_time"/>
        <xs:element name="employee_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Employee for the check</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:opened_at"/>
        <xs:element name="total" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Check total (amount due)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:closed_at"/>
        <xs:element ref="t:revenue_center_id"/>
        <xs:element ref="t:order_type_id"/>
        <xs:element ref="t:table_number"/>
        <xs:element ref="t:room_number"/>
        <xs:element ref="t:reservation_number"/>
        <xs:element ref="t:loyalty_number"/>
        <xs:element name="reopened_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Last date and time the check was reopened</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="reopened_by_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:guest_count"/>
        <xs:element ref="t:inclusive_tax"/>
        <xs:element ref="t:exclusive_tax"/>
        <xs:element name="auto_gratuity" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Amount added to check for auto/forced gratuity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="service_charges" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Amount added to check for service charges or fees</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:discount_total"/>
        <xs:element ref="t:void_total"/>
        <xs:element ref="t:discount"/>
        <xs:element ref="t:item"/>
        <xs:element ref="t:payment"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_number" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>Unique check number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="order_number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Order number associated with the check</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="check_id" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>Unique ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business_time" type="xs:time">
    <xs:annotation>
      <xs:documentation>Business time for the check</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="opened_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>Date and time the check was opened</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="closed_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>Date and time the check was closed</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="revenue_center_id" type="xs:string"/>
  <xs:element name="order_type_id" type="xs:string"/>
  <xs:element name="table_number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Human-meaningful number/name of table, not necessarily auto-generated by POS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="room_number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Human-meaningful room number, not necessarily auto-generated by POS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="reservation_number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Human-meaningful room number, not necessarily auto-generated by POS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="loyalty_number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Human-meaningful loyalty number, not necessarily auto-generated by POS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="guest_count" type="t:non_negative_int_eight"/>
  <xs:element name="inclusive_tax" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>Amount of price which is inclusive tax</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="exclusive_tax" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>Amount of price which is inclusive tax</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="discount_total" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>$ discount total for check</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="void_total" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>$ discount total for check</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item" type="t:citem"/>
  <xs:element name="modifier" type="t:citem"/>
  <xs:complexType name="citem">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="t:item_id"/>
      <xs:element ref="t:quantity"/>
      <xs:element ref="t:amount"/>
      <xs:element ref="t:price"/>
      <xs:element ref="t:category_id"/>
      <xs:element ref="t:inclusive_tax"/>
      <xs:element ref="t:exclusive_tax"/>
      <xs:element ref="t:discount"/>
      <xs:element ref="t:modifier"/>
      <xs:element ref="t:void"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="item_id" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>POS Item ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="quantity" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>The quantity of the item sold</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="amount" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>Total amount towards check total (quanity * actual price)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="price" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>Price of the individual item</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="category_id" type="xs:string">
    <xs:annotation>
      <xs:documentation>POS Item Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="discount">
    <xs:complexType>
      <xs:all>
        <xs:element ref="t:discount_id"/>
        <xs:element name="quantity" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>The Number of discounts</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="amount" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>$ amount for discount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="category_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Id for the category at the time of sale</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="approver_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Employee_id for the person that applied the discount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="applied_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Time and date the discount was applied</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Last date and time the check/discount was reopened</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_by_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/discount</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="discount_id" type="xs:string">
    <xs:annotation>
      <xs:documentation>POS Discount ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="void">
    <xs:complexType>
      <xs:all>
        <xs:element ref="t:void_id"/>
        <xs:element minOccurs="0" name="quantity" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>The quantity of the item that's voided. Entry used if item's quantity is different.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="amount" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Total amount voided for this item. Entry used if item's amount is different.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="approver_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Employee_id for the person that applied the void</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="applied_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Time and date the void was applied</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Last date and time the check/void was reopened</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_by_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/void</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="void_id" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>POS Void ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="payment">
    <xs:complexType>
      <xs:all>
        <xs:element name="total" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Total $ amount for applied payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="payment_type_id" type="t:non_empty_string">
          <xs:annotation>
            <xs:documentation>The corresponding Payment ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="t:received"/>
        <xs:element minOccurs="0" ref="t:change"/>
        <xs:element minOccurs="0" name="tip" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>$ amount for employee tip</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="t:tip_processing_fee"/>
        <xs:element minOccurs="0" name="auto_gratuity" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>$ amount for auto gratuity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="service_charges" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>$ amount for service charge</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="applied_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Time and date the payment was applied</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>Last date and time the check/payment was reopened</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reopened_by_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="t:memo"/>
        <xs:element minOccurs="0" ref="t:last_4_digits"/>
        <xs:element minOccurs="0" ref="t:customer_name"/>
        <xs:element minOccurs="0" name="customer_account_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer account for which this payment is for</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="received" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>$ amount received from customer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="change" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>$ amount returned to customer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tip_processing_fee" type="t:two_digit_decimal">
    <xs:annotation>
      <xs:documentation>$ amount for cc tip fee</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="memo" type="xs:string">
    <xs:annotation>
      <xs:documentation>Text used to store relevant payment info</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="last_4_digits" type="t:last_four_digits">
    <xs:annotation>
      <xs:documentation>Last 4 digits of credit card used</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="customer_name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Customer first and last name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="shift">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="t:id"/>
        <xs:element name="employee_id" type="t:non_empty_string">
          <xs:annotation>
            <xs:documentation>Employee working the shift</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:job_id"/>
        <xs:element name="business_date" type="t:date_minInclusive">
          <xs:annotation>
            <xs:documentation>Business date for reporting shift</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:business_start_time"/>
        <xs:element ref="t:business_end_time"/>
        <xs:element ref="t:shift_updated_at"/>
        <xs:element ref="t:started_at"/>
        <xs:element ref="t:ended_at"/>
        <xs:element ref="t:total_minutes"/>
        <xs:element ref="t:pay_rate"/>
        <xs:element ref="t:total_pay"/>
        <xs:element ref="t:overtime_minutes"/>
        <xs:element ref="t:overtime_pay_rate"/>
        <xs:element ref="t:overtime_pay"/>
        <xs:element ref="t:cc_tips"/>
        <xs:element ref="t:cash_tips"/>
        <xs:element name="service_charges" type="t:two_digit_decimal"/>
        <xs:element ref="t:paid_break_minutes"/>
        <xs:element ref="t:paid_break_pay"/>
        <xs:element ref="t:unpaid_break_minutes"/>
        <xs:element ref="t:start_bank"/>
        <xs:element ref="t:end_bank"/>
        <xs:element ref="t:break"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="job_id" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>Job being worked</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business_start_time" type="xs:time">
    <xs:annotation>
      <xs:documentation>Business start time for the shift</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="business_end_time" type="xs:time">
    <xs:annotation>
      <xs:documentation>Business end time for the shift</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="shift_updated_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>time and date the shift was last updated</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="started_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>time and date the shift started</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ended_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>time and date the shift ended</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="total_minutes" type="t:two_digit_decimal"/>
  <xs:element name="pay_rate" type="t:two_digit_decimal"/>
  <xs:element name="total_pay" type="t:two_digit_decimal"/>
  <xs:element name="overtime_minutes" type="t:two_digit_decimal"/>
  <xs:element name="overtime_pay_rate" type="t:two_digit_decimal"/>
  <xs:element name="overtime_pay" type="t:two_digit_decimal"/>
  <xs:element name="cc_tips" type="t:two_digit_decimal"/>
  <xs:element name="cash_tips" type="t:two_digit_decimal"/>
  <xs:element name="paid_break_minutes" type="t:two_digit_decimal"/>
  <xs:element name="paid_break_pay" type="t:two_digit_decimal"/>
  <xs:element name="unpaid_break_minutes" type="t:two_digit_decimal"/>
  <xs:element name="start_bank" type="t:two_digit_decimal"/>
  <xs:element name="end_bank" type="t:two_digit_decimal"/>
  <xs:element name="break">
    <xs:complexType>
      <xs:all>
        <xs:element ref="t:started_at"/>
        <xs:element ref="t:ended_at"/>
        <xs:element ref="t:break_minutes"/>
        <xs:element minOccurs="0" ref="t:break_pay"/>
        <xs:element minOccurs="0" ref="t:is_paid"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="break_minutes" type="t:two_digit_decimal"/>
  <xs:element name="break_pay" type="t:two_digit_decimal"/>
  <xs:element name="is_paid" type="xs:boolean"/>
  <xs:element name="paid_inout_payment">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="t:id"/>
        <xs:element name="amount" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Total amount of payment made (does not include any tip)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:paid_at"/>
        <xs:element name="payment_type_id" type="t:non_empty_string">
          <xs:annotation>
            <xs:documentation>Reference to payments table</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="business_date" type="t:date_minInclusive">
          <xs:annotation>
            <xs:documentation>Reporting date for paid in/out</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="last_modified_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>time and date the paid in/out was last updated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:paid_inout_id"/>
        <xs:element name="employee_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Employee entering the paid in/out</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="customer_account_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Account paid in/out is for</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="tip" type="t:non_negative_decimal">
          <xs:annotation>
            <xs:documentation>Any additional amount paid as tip</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="paid_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>Time the paid in/out was entered</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="paid_inout_id" type="xs:string">
    <xs:annotation>
      <xs:documentation>Reason for paid in/out</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="deposit">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="t:id"/>
        <xs:element name="amount" type="t:two_digit_decimal">
          <xs:annotation>
            <xs:documentation>Total of the deposit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="t:deposited_at"/>
        <xs:element name="business_date" type="t:date_minInclusive">
          <xs:annotation>
            <xs:documentation>Reporting date of deposit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="last_modified_at" type="t:dateTime_minInclusive">
          <xs:annotation>
            <xs:documentation>time and date the deposit was last updated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="employee_id" type="xs:string">
          <xs:annotation>
            <xs:documentation>Employee who entered the deposit</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="deposited_at" type="t:dateTime_minInclusive">
    <xs:annotation>
      <xs:documentation>Time the deposit was entered</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="t:non_empty_string">
    <xs:annotation>
      <xs:documentation>Unique ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:simpleType name="non_negative_int_eight">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="16777215"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="non_empty_string">
    <xs:restriction base="xs:string">
      <xs:pattern value="(.|\n|\r)*\S(.|\n|\r)*"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="two_digit_decimal">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="last_four_digits">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="non_negative_decimal">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date_minInclusive">
    <xs:restriction base="xs:date">
      <xs:minInclusive value="1900-01-01"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_minInclusive">
    <xs:restriction base="xs:dateTime">
      <xs:minInclusive value="1900-01-01T00:00:00"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
