transactions_1.0.grammar.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" ns="http://hub.peachworks.com/v1/transactions" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="transactions"/>
  </start>
  <define name="transactions">
    <element xmlns="http://relaxng.org/ns/structure/1.0" name="transactions">
      <element name="version">
        <choice>
          <value>1.0</value>
        </choice>
      </element>
      <a:documentation>Docs?</a:documentation>
      <interleave>
        <zeroOrMore>
          <ref name="check"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="shift"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="deposit"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="paid_inout_payment"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="check">
    <element name="check">
      <interleave>
        <element name="check_number">
          <a:documentation>Unique check number</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <optional>
          <element name="order_number">
            <a:documentation>Order number associated with the check</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <element name="check_id">
          <a:documentation>Unique ID</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <element name="last_modified_at">
          <a:documentation>time and date the check was last updated</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="business_date">
          <a:documentation>Business date for the check</a:documentation>
          <ref name="date_minInclusive"/>
        </element>
        <element name="business_time">
          <a:documentation>Business time for the check</a:documentation>
          <data type="time"/>
        </element>
        <optional>
          <element name="employee_id">
            <a:documentation>Employee for the check</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <element name="opened_at">
          <a:documentation>Date and time the check was opened</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="total">
          <a:documentation>Check total (amount due)</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <optional>
          <element name="closed_at">
            <a:documentation>Date and time the check was closed</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="revenue_center_id">
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="order_type_id">
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="table_number">
            <a:documentation>Human-meaningful number/name of table, not necessarily auto-generated by POS</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="room_number">
            <a:documentation>Human-meaningful room number, not necessarily auto-generated by POS</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="reservation_number">
            <a:documentation>Human-meaningful room number, not necessarily auto-generated by POS</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="loyalty_number">
            <a:documentation>Human-meaningful loyalty number, not necessarily auto-generated by POS</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_at">
            <a:documentation>Last date and time the check was reopened</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_by_id">
            <a:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="guest_count">
            <ref name="non_negative_int_eight"/>
          </element>
        </optional>
        <optional>
          <element name="inclusive_tax">
            <a:documentation>Amount of price which is inclusive tax</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="exclusive_tax">
            <a:documentation>Amount of price which is inclusive tax</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="auto_gratuity">
            <a:documentation>Amount added to check for auto/forced gratuity</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="service_charges">
            <a:documentation>Amount added to check for service charges or fees</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="discount_total">
            <a:documentation>$ discount total for check</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="void_total">
            <a:documentation>$ discount total for check</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="discount"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="check_item"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="payment"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="check_item">
    <element name="item">
      <ref name="citem"/>
    </element>
  </define>
  <define name="modifier">
    <element name="modifier">
      <ref name="citem"/>
    </element>
  </define>
  <define name="citem">
    <interleave>
      <element name="item_id">
        <a:documentation>POS Item ID</a:documentation>
        <ref name="non_empty_string"/>
      </element>
      <element name="quantity">
        <a:documentation>The quantity of the item sold</a:documentation>
        <ref name="two_digit_decimal"/>
      </element>
      <element name="amount">
        <a:documentation>Total amount towards check total (quanity * actual price)</a:documentation>
        <ref name="two_digit_decimal"/>
      </element>
      <element name="price">
        <a:documentation>Price of the individual item</a:documentation>
        <ref name="two_digit_decimal"/>
      </element>
      <optional>
        <element name="category_id">
          <a:documentation>POS Item Category ID</a:documentation>
          <data type="string"/>
        </element>
      </optional>
      <optional>
        <element name="inclusive_tax">
          <a:documentation>Amount of price which is inclusive tax</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
      </optional>
      <optional>
        <element name="exclusive_tax">
          <a:documentation>Amount of price which is inclusive tax</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="discount"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="modifier"/>
      </zeroOrMore>
      <optional>
        <ref name="void"/>
      </optional>
    </interleave>
  </define>
  <define name="discount">
    <element name="discount">
      <interleave>
        <element name="discount_id">
          <a:documentation>POS Discount ID</a:documentation>
          <data type="string"/>
        </element>
        <element name="quantity">
          <a:documentation>The Number of discounts</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <element name="amount">
          <a:documentation>$ amount for discount</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <optional>
          <element name="category_id">
            <a:documentation>Id for the category at the time of sale</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="approver_id">
            <a:documentation>Employee_id for the person that applied the discount</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="applied_at">
            <a:documentation>Time and date the discount was applied</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_at">
            <a:documentation>Last date and time the check/discount was reopened</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_by_id">
            <a:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/discount</a:documentation>
            <data type="string"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="void">
    <element name="void">
      <interleave>
        <element name="void_id">
          <a:documentation>POS Void ID</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <optional>
          <element name="quantity">
            <a:documentation>The quantity of the item that's voided. Entry used if item's quantity is different.</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="amount">
            <a:documentation>Total amount voided for this item. Entry used if item's amount is different.</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="approver_id">
            <a:documentation>Employee_id for the person that applied the void</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="applied_at">
            <a:documentation>Time and date the void was applied</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_at">
            <a:documentation>Last date and time the check/void was reopened</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_by_id">
            <a:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/void</a:documentation>
            <data type="string"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="payment">
    <element name="payment">
      <interleave>
        <element name="total">
          <a:documentation>Total $ amount for applied payment</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <element name="payment_type_id">
          <a:documentation>The corresponding Payment ID</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <optional>
          <element name="received">
            <a:documentation>$ amount received from customer</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="change">
            <a:documentation>$ amount returned to customer</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="tip">
            <a:documentation>$ amount for employee tip</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="tip_processing_fee">
            <a:documentation>$ amount for cc tip fee</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="auto_gratuity">
            <a:documentation>$ amount for auto gratuity</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="service_charges">
            <a:documentation>$ amount for service charge</a:documentation>
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="applied_at">
            <a:documentation>Time and date the payment was applied</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_at">
            <a:documentation>Last date and time the check/payment was reopened</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <optional>
          <element name="reopened_by_id">
            <a:documentation>REOPENED_BY_ID is the manager id responsible for reopening the check/payment</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="memo">
            <a:documentation>Text used to store relevant payment info</a:documentation>
            <text/>
          </element>
        </optional>
        <optional>
          <element name="last_4_digits">
            <a:documentation>Last 4 digits of credit card used</a:documentation>
            <ref name="last_four_digits"/>
          </element>
        </optional>
        <optional>
          <element name="customer_name">
            <a:documentation>Customer first and last name</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="customer_account_id">
            <a:documentation>Customer account for which this payment is for</a:documentation>
            <data type="string"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="shift">
    <element name="shift">
      <interleave>
        <ref name="element_id"/>
        <element name="employee_id">
          <a:documentation>Employee working the shift</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <element name="job_id">
          <a:documentation>Job being worked</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <element name="business_date">
          <a:documentation>Business date for reporting shift</a:documentation>
          <ref name="date_minInclusive"/>
        </element>
        <element name="business_start_time">
          <a:documentation>Business start time for the shift</a:documentation>
          <data type="time"/>
        </element>
        <optional>
        <element name="business_end_time">
          <a:documentation>Business end time for the shift</a:documentation>
          <data type="time"/>
        </element>
        </optional>
        <element name="shift_updated_at">
          <a:documentation>time and date the shift was last updated</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="started_at">
          <a:documentation>time and date the shift started</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <optional>
          <element name="ended_at">
            <a:documentation>time and date the shift ended</a:documentation>
            <ref name="dateTime_minInclusive"/>
          </element>
        </optional>
        <element name="total_minutes">
          <ref name="two_digit_decimal"/>
        </element>
        <optional>
          <element name="pay_rate">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <element name="total_pay">
          <ref name="two_digit_decimal"/>
        </element>
        <optional>
          <element name="overtime_minutes">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="overtime_pay_rate">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="overtime_pay">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="cc_tips">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="cash_tips">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="service_charges">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="paid_break_minutes">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="paid_break_pay">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="unpaid_break_minutes">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="start_bank">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="end_bank">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="break"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="break">
    <element name="break">
      <interleave>
        <element name="started_at">
          <a:documentation>time and date the shift started</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="ended_at">
          <a:documentation>time and date the shift ended</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="break_minutes">
          <ref name="two_digit_decimal"/>
        </element>
        <optional>
          <element name="break_pay">
            <ref name="two_digit_decimal"/>
          </element>
        </optional>
        <optional>
          <element name="is_paid">
            <data type="boolean"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="paid_inout_payment">
    <element name="paid_inout_payment">
      <interleave>
        <ref name="element_id"/>
        <element name="amount">
          <a:documentation>Total amount of payment made (does not include any tip)</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <element name="paid_at">
          <a:documentation>Time the paid in/out was entered</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="payment_type_id">
          <a:documentation>Reference to payments table</a:documentation>
          <ref name="non_empty_string"/>
        </element>
        <element name="business_date">
          <a:documentation>Reporting date for paid in/out</a:documentation>
          <ref name="date_minInclusive"/>
        </element>
        <element name="last_modified_at">
          <a:documentation>time and date the paid in/out was last updated</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <optional>
          <element name="paid_inout_id">
            <a:documentation>Reason for paid in/out</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="employee_id">
            <a:documentation>Employee entering the paid in/out</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="customer_account_id">
            <a:documentation>Customer Account paid in/out is for</a:documentation>
            <data type="string"/>
          </element>
        </optional>
        <optional>
          <element name="tip">
            <a:documentation>Any additional amount paid as tip</a:documentation>
            <ref name="non_negative_decimal"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="deposit">
    <element name="deposit">
      <interleave>
        <ref name="element_id"/>
        <element name="amount">
          <a:documentation>Total of the deposit</a:documentation>
          <ref name="two_digit_decimal"/>
        </element>
        <element name="deposited_at">
          <a:documentation>Time the deposit was entered</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <element name="business_date">
          <a:documentation>Reporting date of deposit</a:documentation>
          <ref name="date_minInclusive"/>
        </element>
        <element name="last_modified_at">
          <a:documentation>time and date the deposit was last updated</a:documentation>
          <ref name="dateTime_minInclusive"/>
        </element>
        <optional>
          <element name="employee_id">
            <a:documentation>Employee who entered the deposit</a:documentation>
            <data type="string"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="element_id">
    <element name="id">
      <a:documentation>Unique ID</a:documentation>
      <ref name="non_empty_string"/>
    </element>
  </define>
  <define name="element_name">
    <element name="name">
      <data type="string"/>
    </element>
  </define>
  <define name="non_negative_int_eight">
    <data type="nonNegativeInteger">
      <param name="maxInclusive">16777215</param>
    </data>
  </define>
  <define name="non_empty_string">
    <data type="string">
      <param name="pattern">(.|\n|\r)*\S(.|\n|\r)*</param>
      <param name="minLength">1</param>
    </data>
  </define>
  <define name="two_digit_decimal">
    <data type="decimal">
      <param name="fractionDigits">2</param>
    </data>
  </define>
  <define name="last_four_digits">
    <data type="string">
    <param name="maxLength">20</param>
    </data>
  </define>
  <define name="non_negative_decimal">
    <data type="decimal">
      <param name="fractionDigits">2</param>
      <param name="minInclusive">0</param>
    </data>
  </define>
  <define name="date_minInclusive">
    <data type="date">
      <param name="minInclusive">1900-01-01</param>
    </data>
  </define>
  <define name="dateTime_minInclusive">
    <data type="dateTime">
      <param name="minInclusive">1900-01-01T00:00:00</param>
    </data>
  </define>
</grammar>
